<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardenas.componentesui" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComponentesUI" >
        <activity
            android:name=".SnackbarActivity"
            android:exported="false" />
        <activity
            android:name=".CustomAlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleDialogActivity"
            android:exported="false" />
        <activity
            android:name=".SeekBarActivity"
            android:exported="false" />
        <activity
            android:name=".FloatingLabelsActivity"
            android:exported="false" />
        <activity
            android:name=".FloatingActionButtonActivity"
            android:exported="false" />
        <activity
            android:name=".TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".RatingBarActivity"
            android:exported="false" />
        <activity
            android:name=".ToggleButtonActivity"
            android:exported="false" />
        <activity
            android:name=".SwitchButtonActivity"
            android:exported="false" />
        <activity
            android:name=".RadioButtontActivity"
            android:exported="false" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ImageButtonActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>